@media (max-width: 1091px) {
	.pricing__inner {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
	}

	.pricing__item {
		border-radius: 0;
	}

	.section__header {
		margin-bottom: 60px;
	}
}

@media (max-width: 413px) {
	.container {
		padding: 0 10px;
	}

	.section__header {
		max-width: 264px;
	}

	.pricing__item {
		padding: 50px 20px;
	}

	.pricing__item--accent {
		padding: 70px 20px;
	}
}